*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  margin-left: 30px;
  margin-right: 30px;
  border: 0px;
}

#homelogo {
  margin-left: 40%;
  margin-right: 50%;
}

.nav {
  text-align: center;
  margin: auto;
}

ul {
  display: table;
  margin: 0 auto;
  list-style-type: none;
  background-color: #ffffff;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.unactive:hover {
  background-color: #d3bb8f;
  border-radius: 3px;
}

.active {
  background-color: #70614A;
  color: white;
  border-radius: 3px;
}

hr {
  color: wheat;
  opacity: 80%;
}

aside {
  display: inline-block;
  width: 30%;
  float: left;
  padding: 5px;
  margin-left: 2%;
}

#sobremifoto {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%
}

.sobremidesc {
  color: #524d4d;
  font-size: small;
}

#spam {
  background-color: #dddeee;
}

#suscribete {
  font-size: large;
  padding-top: 5px;
}

#apuntamefoto {
  margin-left: 25%;
  margin-right: 50%;
  height: 150%;
}

#apuntame {
  background-color: rgb(36, 131, 84);
  padding: 5px;
}


main {
  display: inline-block;
  width: 65%;
  float: right;
  padding: 5px;
}

.recipediv {
  width: 45%;
  display: inline-block;
  margin: 2%;
}

.recipetitle {
  text-align: center;
  margin: auto;
  font-weight: 800;
}

.recipebar1 {
  opacity: 50%;
  color: aquamarine;
  font-size: xx-small;
  margin: 0px;
  margin-top: 15px;
}

.recipebar2 {
  opacity: 50%;
  color: aquamarine;
  font-size: xx-small;
  margin: 0px;
  margin-bottom: 5px;
}

.recipedate {
  text-align: center;
  color: grey;
  opacity: 90%;
  margin: 0px;
  padding: 0px;
  font-size: smaller;
}

.recipephoto {
  display: inline-block;
  width: 100%;
}

.recipedesc {
  font-size: smaller;
  color: #665c5c;
}

a:link {
  color: black;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

a:visited {
  color: black;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

li a {
  font-size: small;
  padding: 12px;
  margin: 0px;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  height: 75px;
  width: 100vw;
  color: #000000;
}

#footer {
  background-color: black;
}

.footerelement {
  background-color: #000000; 
}
.footerelement a {
  display: table;
  color: white;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 17px;
  font-size: large;
  font-weight: 500;
}